*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
 }


.grid-container{
  height: 100vh;
  border: 5px solid blue; /*#14a76c;*/
  padding: 5px;
  display: grid;
  grid-template-areas:
  "header header back right-corner"
  "asideL sky sky asideR"
  "asideL main main asideR"
  "asideL path path asideR"
  "footer footer footer footer";
  grid-template-rows: .5fr 2fr 2fr 2fr .5fr;
  grid-template-columns: 25% 1fr 1fr 25%;

  }

.grid-item{
  border: 4px;
  padding: 20px;
  }

  .grid-container > div.back{
    grid-area: back;
    grid-area: 1 / 1 / 6 / 5;
    background:  url(../images/beach-day.png) repeat-x;
    background-position: center center;
    /* background-position: fixed; */
    background-position: 0px 0px;
    /* background-size: cover; */
    background-size: 100vw 100%;
    width: 5833px;
    animation: goRight 60s linear infinite;
    animation-play-state: paused;
  }


.right-corner{
  grid-area: right-corner;
  border: solid purple;
  max-height: 125px;
  /* width: 250px; */
  /* max-width: 500px; */
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  text-align: center;
  padding-right: 5%;
}

div.right-corner > aside.instructions > p{
  overflow-wrap: break-word;
  /* font-size: 20px; */
  font-size: 1.5vw;
  width: fit-content;
  block-size: fit-content;
}
.header{
  grid-area: header;
  grid-area: 1 / 1 / 2 / 4;
  border: solid red;
  }
.stats-container{
  display: grid;
  /* grid-template-columns: 10% 25% 25% 5% auto;*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 30fr;
  /* grid-template-columns: 1fr 300px; */
  grid-template-rows: 20% 15% 15% 15% auto;
  /* margin-top: -15px; */
  /* margin-bottom: -50px; */
  grid-template-areas:
    "day day day day day day"
    "water  water-level  coconuts coconuts-level trolls trolls-level"
    "food   food-level   rope     rope-level     . ."
    "sanity sanity-level bamboo   bamboo-level   . .";
    /* background: salmon; */
  grid-gap: 2px 2px;
      /* grid-template-columns: fit-content(40%) fit-content(40%) 1fr; */
  /* background: deepskyblue; */
}

.stats-container > div {
  padding: 0px 20px 10px 8px;
  font-size: 20px;
  z-index: 20;
  justify-self: start;
}

.stats-container > div.day {
grid-area: 1 / 1 / 2 / 2;
 /* justify-self: end; */
}

.stats-container > div.water {
grid-area: 2 / 1 / 3 / 2;
/* justify-self: end; */

}
.stats-container > div.food {
grid-area: 3 / 1 / 4 / 2;
/* justify-self: end; */
}
.stats-container > div.sanity {
grid-area: 4 / 1 / 5 / 2;
/* justify-self: end; */
}
.stats-container > div.coconuts {
grid-area: 2 / 3 / 3 / 4;
/* justify-self: end; */
}
.stats-container > div.rope {
grid-area: 3 / 3 / 4 / 4;
//* justify-self: end; */
}
.stats-container > div.bamboo {
grid-area: 4 / 3 / 5 / 4;
/* justify-self: end; */
}
.stats-container > div.water-level {
grid-area: 2 / 1 / 3 / 2;
margin-left: 60px;
}
.stats-container > div.food-level {
grid-area: 3 / 1 / 4 / 2;
margin-left: 60px;
}
.stats-container > div.sanity-level {
grid-area: 4 / 1 / 5 / 2;
margin-left: 60px;
}
.stats-container > div.coconuts-level {
grid-area: 2 / 4 / 3 / 5;
margin-left: -27px;
}
.stats-container > div.rope-level {
grid-area: 3 / 4 / 4 / 5;
margin-left: -27px;
}
.stats-container > div.bamboo-level {
grid-area: 4 / 4 / 5 / 5;
margin-left: -27px;
}
.stats-container > div.trolls {
grid-area: 2 / 5 / 3 / 6;
}
.stats-container > div.trolls-level {
grid-area: 3 / 6 / 4 / 7;
margin-left: -20px;
/* margin-bottom: -5px; */
}

.sky{
  grid-area: sky;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 5px;
  border: solid yellow;
}

.sky > div {
  grid-column-start: 1;
  grid-column-end: 3;
  border: solid red:
  padding: 8px;
}
.path{
  grid-area: path;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 5px;
  /* background-color: lightgreen; */
}

.path > div {
  grid-column-start: 1;
  grid-column-end: 3;
  /* border: solid green; */
  padding: 8px;
}
.asideL{
  grid-area: asideL;
  }

  /* .asideL > aside.instructions > p{
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
    text-align: center;
    } */

  html {
    /* background:  url(../images/beach-day.png) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.main{
  grid-area: main;
  grid-area: 1 / 1 / 6 / 5;
  z-index: 1;
  /* background-image: url(../images/beach-day.png) repeat-x top left;;  /*I want to squish his image! */
  /* background:  url(../images/beach-day.png) repeat-x; */

  background-position: center center;
  background-position: 0px 0px;
  background-size: 100vw 100%;
  margin-top: -15%;
  padding-bottom: 40%;
  width: 5833px;
  height: auto;
    /* background-position: fixed; */
    /* background-size: cover; */
  /* margin-left: -10%; */

  /* animation: goRight 60s linear infinite;
  animation-play-state: paused; */
  /* animation: none; */
}

@keyframes goRight{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}



  *{ margin: 0px; padding: 0px;}
  html, body{
    width: 100%
    height: 100%
    position:absolute;
    overflow: hidden;;
  }

div.path{
  margin: -100px;
  /* overflow-y: hidden; */
  padding-bottom: 100px;
  margin-left: -3px;
  margin-right: -2000px;
  z-index: 40;



}

   div.path > div.walking{
     background: url("https://phpcoder.tech/wp-content/uploads/2021/04/Cartoon.png")
     no-repeat;
     width: 185px;
     height: 290px;

     animation: walk 1.2s steps(8) infinite,
     forward 7s linear infinite;
     animation-play-state: paused;
     visibility: hidden;

     }
     /* div.path > div.walking {
       animation-play-state: paused;
       visibility: hidden;
     } */

     @keyframes walk{
     0%{
     background-position: 0px;
     }
     100%{
     /* background-position: -20px; */
      background-position: -1472px;
     }
     }
     @keyframes forward{
     0%{
     transform: translateX(-100px);
     }
     100%{
     transform: translateX(1200px);

     }
     }

/* #################################### */
.asideR{
  grid-area: asideR;
  }

.footer{
  grid-area: footer;
  border: solid black;
  }

div.modal{
  visibility: hidden;
  z-index: 50;
  width: 50vw;
  max-width: 400px;
  position: fixed;
  top: 45%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  background-color: #feddc0;
  border-radius: 4px;
  padding: 35px;
  box-shadow: 5px 2.5px 10px 0px rgba(0,0,0,0.3);
  text-align: center;

  /* transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94); */
  /* opacity: 0; */
  } /* 0, 1, 1*/

  div.modal.open{
    visibility: visible;
  }


  /* The Modal (background) */
  .modal2 {
    visibility: visible;
    /* display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2;
    /* left: 2fr auto; */
    width: 50vw;
    max-width: 60%;
    border-radius: 4px;
    padding: 35px;
    margin: 29% 29% auto;
    /* width: 75%; */
    height: auto;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color*/
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  div.modal2.open{
    visibility: hidden;
  }

  /* Modal Content/Box */
  div.modal2 > .model2-content{
    background-color: #fefefe;
    border: 1px solid #888;
    font-size: 10px;
    font-style: oblique;
  }


   /* @media all and (max-width: 800px) {
    .stats {
      justify-content: space-around;
    }
  }
  @media all and (max-width: 600px) {
    .stats {
      flex-flow: column wrap;
      padding: 0;
    }
    .stats li:last-of-type a {
      border-bottom: none;
    }
  }  */

#water-button{
  visibility: visible;
  /* width: 50px; */
  font-size: 15px;
  padding: 10px;
  margin: 25px 0 0 0;
}
#food-button{
  visibility: visible;
  font-size: 15px;
  padding: 10px;
  margin: 15px 0 0 0;
}
#supplies-button{
  visibility: visible;
  font-size: 15px;
  padding: 10px;
  margin: 15px 0 0 0;
}
#keep-searching-for-drink-button{
  font-size: 15px;
  padding: 10px;
  margin: 15px 0 0 0;
}

#return-to-camp-button2{
  font-size: 15px;
  padding: 10px;
  margin: 15px 0 0 0;
}

#drink-button{
  font-size: 15px;
  padding: 10px;
  margin: 15px 0 0 0;
}

#save-for-later-button{
  font-size: 15px;
  padding: 10px;
  margin: 15px 0 0 0;
}

.popup-trigger {
  position: fixed;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  /* background: rgba(0, 0, 0, 0.7); */
  /* border: 2px solid red; */
  transition: opacity 500ms;
   visibility: hidden;
   text-decoration: none;
   opacity: 0;
   z-index: 3;
}
.popup-trigger:target {
  visibility: visible;
  opacity: 1;
}

div.popup {
  margin: 0 auto;
  /* padding: 15px; */
  background: #fff;
  border-radius: 5px;
  /* border: 2px solid blue; */
  /* width: 30%; */
  position: relative;
  text-decoration: none;
  /* transition: all 5s ease-in-out;*/

}

/* div.popup > h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
} */
div.popup > a.close {
  position: absolute;
  top: 20px;
  right: 30px;
  /* transition: all 200ms; */
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
div.sky > div.popup-trigger > div.popup > p {
  text-decoration: none;
}


div.sky > div.rotating-modal {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 30%;
  left: 50%;
  /*this is for centering if unkonw wisth/height*/
  transform: translate(-50%, -50%);
  /* Probably need media queries here */
  width: 400px;
  max-width: 100%;
  height: 200px;
  max-height: 100%;
  background: pink;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  z-index: 21;
}

div.sky > div.rotating-modal.closed {
  visibility: visible;
}

div.sky > div.rotating-modal > div.rotating-modal-guts {
  /* cover the modal */
  position: absolute;
  text-align: center;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  /* spacing as needed */
  padding: 20px 50px 20px 20px;
  /* let it scroll */
  overflow: auto;
}

div.sky > div.rotating-modal > button.close-button {
  position: absolute;
  z-index: 4;
  top: 5%;
  /* needs to look OK with or without scrollbar */
  right: 15px;
  border: 0;
  background: none;
  color: purple;
  padding: 5px 10px;
  font-size: 1rem;
}

.open-button {
  visibility: hidden;
  border: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgreen;
  color: red;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 21px;
  z-index: 5;
}

.open-button.closed {
  visibility: visible;
}


div.sky > div.troll-modal {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 30%;
  left: 50%;
  /*this is for centering if unkonw wisth/height*/
  transform: translate(-50%, -50%);
  /* Probably need media queries here */
  width: 400px;
  max-width: 100%;
  height: 200px;
  max-height: 100%;
  background: pink;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  z-index: 21;
}

/* div.sky > div.rotating-modal.closed {
  visibility: visible;
} */

div.sky > div.troll-modal > div.troll-modal-guts {
  /* cover the modal */
  position: absolute;
  text-align: center;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  /* spacing as needed */
  padding: 20px 50px 20px 20px;
  /* let it scroll */
  overflow: auto;
}
div.sky > div.troll-modal > button.troll-modal-button{
  position: absolute;
  z-index: 4;
  top: 5%;
  /* needs to look OK with or without scrollbar */
  right: 15px;
  border: 0;
  background: none;
  color: purple;
  padding: 5px 10px;
  font-size: 1rem;
}

/* Bubble Text */
.bubble {
    position: relative;
/*     background: #57d4d0; */
  background: #d4cc57;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    line-height: 120px;
    box-shadow: 13px -15px 7px -1px #A3A3A3;
    text-align: center;
    width: 350px;
    height: 220px;
    border-radius: 10px;
    /* padding: 0px; */
    margin-left: 150px;
    margin-top: -190px;
    visibility: hidden;
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 18px 17px 0 0;
    border-color: #d4cc57 transparent transparent transparent;
    bottom: -18px;
    left: 10%;
    margin-left: -8.5px;

  }


/* .popup .content {
  max-height: 30%;
  overflow: auto;
}  */

/* @media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
} */
