*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
 }

.grid-container{
  height: 100vh;
  border: 10px solid; /*#14a76c;*/
  display: grid;
  grid-template-areas:
  "header header header nav"
  "asideL sky sky asideR"
  "asideL main main asideR"
  "asideL path path asideR"
  "footer footer footer footer";
  grid-template-rows: .5fr 2fr 2fr 2fr .5fr;
  grid-template-columns: 25% 1fr 1fr 25%;
  }

.grid-item{
  /* background-color: #ccc; */
  border: 4px solid blue;
  padding: 20px;
  }

.header{
  grid-area: header;
  /* height: 100px; */
  }

.stats-container{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  background-color: #2196F3;
  padding: 10px;
  /* background: deepskyblue; */
}

.stats-container > p{
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: space-around;
  width: 100px;
  padding: 3px 0;
  font-size: 15px;

}

.sky{
  grid-area: sky;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 5px;
}

.sky > div {
  grid-column-start: 1;
  grid-column-end: 3;
  background: lightgreen;
  padding: 8px;
}
.path{
  grid-area: path;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 5px;
}

.path > div {
  grid-column-start: 1;
  grid-column-end: 3;
  background: lightgreen;
  padding: 8px;
}


.nav{
  grid-area: nav;
  }

.asideL{
  grid-area: asideL;
  }

.main{
  grid-area: main;
  grid-area: 2 / 1 / 5 / 5;
  z-index: 1;
  background-image: url(../images/beach-walk.jpg);  //I want to squish his image!
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  }

.asideR{
  grid-area: asideR;
  }

.footer{
  grid-area: footer;
  }

div.modal{
  visibility: hidden;
  width: 50vw;
  max-width: 400px;
  position: fixed;
  top: 45%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  background-color: #feddc0;
  border-radius: 4px;
  padding: 35px;
  box-shadow: 5px 2.5px 10px 0px rgba(0,0,0,0.3);
  text-align: center;
  /* transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94); */
  /* opacity: 0; */
  } /* 0, 1, 1*/

  div.modal.open{
    visibility: visible;
  }


  /* The Modal (background) */
  .modal2 {
    visibility: visible;
    /* display: none; /* Hidden by default */ */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* left: 0; */
    /* left: 2fr auto; */
    /* top: 45%; */
    /* left: 45%;
    right: 45%; */
    /* width: 50vw; */
    max-width: 60%;
    border-radius: 4px;
    padding: 35px;
    margin: 0 auto;
    /* width: 75%; */
    height: auto;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  div.modal2.open{
    visibility: hidden;
  }

  /* Modal Content/Box */
  .model2-content {
    background-color: #fefefe;
    border: 1px solid #888;

  }

  /* .header-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 25px;
    /* list-style: none; */
    /* margin: 0; */
    /* background: deepskyblue; */
  }

   /* @media all and (max-width: 800px) {
    .stats {
      justify-content: space-around;
    }
  }

  @media all and (max-width: 600px) {
    .stats {
      flex-flow: column wrap;
      padding: 0;
    }

    .stats li:last-of-type a {
      border-bottom: none;
    }
  }  */

#water-button{
  visibility: visible;
  padding: 100px;
  margin: 20px 0 0 0;
}
#food-button{
  visibility: visible;
  padding: 10px;
  margin: 20px 0 0 0;
}
#supplies-button{
  visibility: visible;
  padding: 10px;
  margin: 20px 0 0 0;
}

#drink-button{
  /* visibility: hidden; */
}

.popup-trigger {
  position: fixed;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  /* background: rgba(0, 0, 0, 0.7); */
  /* border: 2px solid red; */
  transition: opacity 500ms;
   visibility: hidden;
   opacity: 0;
   z-index: 3;
}
.popup-trigger:target {
  visibility: visible;
  opacity: 1;
}

div.popup {
  margin: 0 auto;
  /* padding: 15px; */
  background: #fff;
  border-radius: 5px;
  /* border: 2px solid blue; */
  /* width: 30%; */
  position: relative;
  /* transition: all 5s ease-in-out;*/

}

/* div.popup > h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
} */
div.popup > a.close {
  position: absolute;
  top: 20px;
  right: 30px;
  /* transition: all 200ms; */
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}


div.sky > div.rotating-modal {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 30%;
  left: 50%;
  /*this is for centering if unkonw wisth/height*/
  transform: translate(-50%, -50%);
  /* Probably need media queries here */
  width: 400px;
  max-width: 100%;
  height: 200px;
  max-height: 100%;
  background: pink;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  z-index: 5;
}

div.sky > div.rotating-modal.closed {
  visibility: visible;
}

div.sky > div.rotating-modal > div.rotating-modal-guts {
  /* cover the modal */
  position: absolute;
  text-align: center;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  /* spacing as needed */
  padding: 20px 50px 20px 20px;
  /* let it scroll */
  overflow: auto;
}

div.sky > div.rotating-modal > button.close-button {
  position: absolute;
  z-index: 4;
  top: 5%;
  /* needs to look OK with or without scrollbar */
  right: 15px;
  border: 0;
  background: none;
  color: purple;
  padding: 5px 10px;
  font-size: 1rem;
}

.open-button {
  visibility: hidden;
  border: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgreen;
  color: red;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 21px;
  z-index: 5;
}

.open-button.closed {
  visibility: visible;
}

/* .popup .content {
  max-height: 30%;
  overflow: auto;
}  */

/* @media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
} */
