*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
 }

 html {
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

.grid-container{
  height: 100vh;
  border: 5px solid blue; /*#14a76c;*/
  margin: 5px;
  padding: 5px;
  display: grid;
  grid-template-areas:
  "header header back right-corner"
  "asideL sky sky asideR"
  "asideL main main asideR"
  "asideL path path asideR"
  ". . . footer";
  grid-template-rows: .5fr 2fr 2fr 2fr .5fr;
  grid-template-columns: 25% 1fr 1fr 25%;
}

.grid-item{
  border: 4px;
  padding: 20px;
  /* border: solid pink; */
}

.grid-container > div.back{
  grid-area: back;
  grid-area: 1 / 1 / 6 / 5;
  /* background:  url(../img/beach-day.png) repeat-x; */
  background:  url("../img/Game_Background_43.png") repeat-x;
  background-position: center center;
  /* background-position: fixed; */
  background-position: 0px 0px;
  /* background-size: cover; */
  background-size: 100vw 100%;
  width: 6833px;
  animation: goRight 60s linear infinite;
  animation-play-state: paused;
}

@keyframes goRight{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}

/* Right Corner....What To Do Options */
.right-corner{
  grid-area: right-corner;
  padding-bottom: 155px;
  border: solid purple;
  max-height: 125px;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  text-align: center;
  padding-right: 5%;
}

div.right-corner > aside.instructions > p{
  overflow-wrap: break-word;
  /* font-size: 20px; */
  font-size: 1.5vw;
  font-weight: bold;
  width: fit-content;
  color: white;
  block-size: fit-content;
}

/* Left Corner.... Spencer Stats*/
.header{
  grid-area: header;
  grid-area: 1 / 1 / 2 / 4;
  margin-bottom: 50px;
  }
.stats-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 30fr;
  grid-template-rows: 20% 15% 15% 15%;
  grid-template-areas:
    "stats stats stats stats stats day"
    "water  water-level  coconuts coconuts-level trolls trolls-level"
    "food   food-level   rope     rope-level     . ."
    "sanity sanity-level bamboo   bamboo-level   . .";
    /* background: salmon; */
  grid-gap: 2px 2px;
  box-shadow: 0 0 60px 20px rgba(0, 0, 0, 0.9);
  border: solid lightgreen;
  margin-right: 65%;
  z-index: 20;
  font-weight: 500;
  width: fit-content;
  block-size: fit-content;
  color: white;
  visibility: hidden;
  /* background: deepskyblue; */
}

.stats-container > div {
  padding: 0px 20px 10px 8px;
  font-size: 25px;
  justify-self: start;
  font-size: 1.5vw;
}

.stats-container > div.stats {
  grid-area: 1 / 1 / 2 / 5;
  font-weight: bold;
  /* font-style: italic; */
  text-decoration: underline;
  font-size: 1.5vw;
}

.stats-container > div.day {
 grid-area: 1 / 6 / 2 / 7;
 margin-top: -15px;
 margin-left: -94px;
 margin-bottom: 15px;
 border: solid green;
 font-weight: bold;
 background: #00FFFF;
 color: black;
 font-style: italic;
}

.stats-container > div.water {
  grid-area: 2 / 1 / 3 / 2;
}
.stats-container > div.food {
  grid-area: 3 / 1 / 4 / 2;
}
.stats-container > div.sanity {
  grid-area: 4 / 1 / 5 / 2;
}
.stats-container > div.coconuts {
  grid-area: 2 / 3 / 3 / 4;
}
/* .stats-container > div.rope {
grid-area: 3 / 3 / 4 / 4;
}
.stats-container > div.bamboo {
grid-area: 4 / 3 / 5 / 4;
} */
.stats-container > div.water-level {
  grid-area: 2 / 1 / 3 / 2;
  margin-left: 85px;
}
.stats-container > div.food-level {
  grid-area: 3 / 1 / 4 / 2;
  margin-left: 85px;
}
.stats-container > div.sanity-level {
  grid-area: 4 / 1 / 5 / 2;
  margin-left: 85px;
}
.stats-container > div.coconuts-level {
  grid-area: 2 / 4 / 3 / 5;
  margin-left: -23px;
}
/* .stats-container > div.rope-level {
grid-area: 3 / 4 / 4 / 5;
margin-left: -23px;
}
.stats-container > div.bamboo-level {
grid-area: 4 / 4 / 5 / 5;
margin-left: -23px;
} */
.stats-container > div.trolls {
  grid-area: 2 / 5 / 3 / 6;
}
.stats-container > div.trolls-level {
  grid-area: 3 / 6 / 4 / 7;
  margin-left: -20px;
}

/* Sky Div */
.sky{
  grid-area: sky;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 5px;
}

.sky > div {
  grid-column-start: 1;
  grid-column-end: 3;
  border: solid red:
  padding: 8px;
}

/* Main Div */
.main{
  grid-area: main;
  grid-area: 1 / 1 / 6 / 5;
  z-index: 1;
  background-position: center center;
  background-position: 0px 0px;
  background-size: 100vw 100%;
  margin-top: -15%;
  padding-bottom: 40%;
  width: 5833px;
  height: auto;
}

  *{ margin: 0px; padding: 0px;}
  html, body{
    width: 100%
    height: 100%
    position:absolute;
    overflow: hidden;;
  }

/* Path Div */
.path{
  grid-area: path;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 5px;
}

.path > div {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 8px;
}

div.path{
  margin: -100px;
  /* overflow-y: hidden; */
  padding-bottom: 60px;
  margin-left: -3px;
  margin-right: -2000px;
  z-index: 40;
}

div.path > div.walking{
  /* background: url("https://phpcoder.tech/wp-content/uploads/2021/04/Cartoon.png")
  no-repeat; */
   background: url("../img/css_sprites.png")
   no-repeat;
   /* width: 185px;
   height: 290px;
   animation: walk 1.2s steps(8) infinite,
   forward 5s linear infinite;
   animation-play-state: paused;
   visibility: hidden; */
   z-index: 40;
   width: 180px;
   height: 357px;
   margin-top: 50px;
   margin-left: -85px;
   display: inline-block;
   animation: walk 1s steps(4) infinite,
   forward 4s linear infinite;
   animation-play-state: paused;
   visibility: hidden;
}

@keyframes walk{
   0%{
   background-position: 0px;
   }
   100%{
   /* background-position: -20px; */
    background-position: -668px;
   }
}
     /* @keyframes forward{
     0%{
     transform: translateX(-100px);
     }
     100%{
     transform: translateX(1200px);

     }
     } */

/* #################################### */
/* Footer  Coconut */
.footer {
  grid-area: footer;
  grid-area: 5 / 4 / 6 / 5;
}

.footer > div.bugs{
  background: url("../img/Bugs.png") no-repeat;
  padding: 100px;
  margin-top: -310px;
  margin-left: 350px;
  width: 400px;
  height: 250px;
  visibility: hidden;
}

.footer > div.dead{
  background: url("../img/SpensorDown.png") no-repeat;
  width: 400px;
  height: 130px;
  visibility: hidden;
}

.footer > div.coconut {
  /* grid-area: footer;
  grid-area: 5 / 4 / 6 / 5; */
  /* border: solid yellow; */
  z-index: 700;
/* position: absolute; */
/* position: relative; */
  background: url("../img/coconut.png") no-repeat;
  padding: 100px;
  margin-top: -250px;
  margin-left: 450px;
  margin-right: 200px;
  width: 220px;
  /* margin-bottom: 300px; */
  visibility: hidden;
}
/* Footer  Troll */
.footer > div.troll {
  /* border: solid yellow; */
  background: url("../img/zombiesprite.png") no-repeat;
  z-index: 700;
  /* padding: 100px; */
  margin-top: -250px;
  margin-left: 480px;
  margin-right: 200px;
  width:168px;
  height: 270px;
  animation: walk1 3.8s steps(12) 1,
  forward1 4s linear 1;
  animation-play-state: paused;
  visibility: hidden;
}
@keyframes walk1{
  0%{
  background-position: -1944px;
  }
  100%{
  /* background-position: -20px; */
   background-position: 0px;
  }
}
@keyframes forward1{
  0%{
  transform: translateX(1200px);
  }
  100%{
  transform: translateX(-400px);
  }
}

/* Bubble */
  .bubble2{
    border: solid pink;
    z-index: 60;
    /* position: relative; */
    position: absolute;
    background: #d4cc57;
    padding: 10px;
    color: black;
    font-family: Arial;
    font-size: 30px;
    font-style: italic;
    line-height: 46px;
    box-shadow: 13px -15px 7px -1px #A3A3A3;
    text-align: center;
    font-weight: 700;
    width: 400px;
    border-radius: 10px;
    margin-left: 775px;
    margin-top: -100px;
      z-index: 100;
    visibility: hidden;
}
.bubble2:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 18px 17px 0 0;
    border-color: #d4cc57 transparent transparent transparent;
    bottom: -18px;
    left: 10%;
    margin-left: -8.5px;
  }

/* Aside L  Fishy*/
.asideL {
  grid-area: asideL;
  z-index: 60;
}

div.asideL > div.fish {
  background: url("../img/fisch1.svg")
  no-repeat;
  padding-bottom: 80px;
  width: 150px;
  height: 150px;
  /* height: auto; */
  margin-left: 515px;
  margin-top: 300px;
  visibility: hidden;
}

/* Modal 1 */
div.modal{
  visibility: hidden;
  z-index: 50;
  width: 50vw;
  max-width: 400px;
  position: fixed;
  top: 45%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  background-color: #feddc0;
  border-radius: 4px;
  padding: 35px;
  box-shadow: 5px 2.5px 10px 0px rgba(0,0,0,0.3);
  text-align: center;
  margin-top: -120px;

  /* transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94); */
  /* opacity: 0; */
} /* 0, 1, 1*/

div.modal.open{
    visibility: visible;
}

/* Modal2 (instructions */
.modal2 {
  visibility: hidden;
  position: fixed; /* Stay in place */
  z-index: 2;
  width: 60vw;
  max-width: 50%;
  border-radius: 4px;
  padding: 35px;
  margin: 19% 29% auto;
  height: auto;
  background-color: rgb(0,0,0); /* Fallback color*/
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* div.modal2.open{
  visibility: hidden;
} */

div.modal2 > .model2-content{
  background-color: #fefefe;
  border: 1px solid #888;
  font-size: 10px;
  font-style: oblique;
  padding: 20px;
}

span{
  margin-left: 800px;
  font-size: 40px;
  color: purple;
}

div.modal2 > div.model2-content > h3.trolls{
  padding-top: 30px;
}

/* Buttons */
#water-button{
  visibility: visible;
  /* width: 50px; */
  font-size: 15px;
  padding: 10px;
  margin: 25px 0 0 0;
}
#food-button{
  visibility: visible;
  font-size: 15px;
  padding: 10px;
  margin: 15px 0 0 0;
}

#keep-searching-for-drink-button{
  font-size: 15px;
  padding: 10px;
  margin: 15px 10px 0 0;
}
#keep-searching-button{
  font-size: 15px;
  padding: 10px;
  margin: 15px 10px 0 0;
}
#return-to-camp-button{
  font-size: 15px;
  padding: 10px;
  margin: 15px 0 0 0;
}
#return-to-camp-button2{
  font-size: 15px;
  padding: 10px;
  margin: 15px 0 0 0;
}
#drink-button{
  font-size: 15px;
  padding: 10px;
  margin: 15px 10px 0 10px;
}
#save-for-later-button{
  font-size: 15px;
  padding: 10px;
  margin: 15px 0 0 0;
}

#restart-button{
  font-size: 15px;
  padding: 10px;
  margin: 15px 0 0 0;
  visibility: 'hidden';
}

/* Rotating Modal */
div.sky > div.rotating-modal {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 30%;
  left: 50%;
  /*this is for centering if unkonw wisth/height*/
  transform: translate(-50%, -50%);
  /* Probably need media queries here */
  width: 450px;
  max-width: 100%;
  height: 200px;
  max-height: 100%;
  background: pink;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  z-index: 21;
}

div.sky > div.rotating-modal.closed {
  visibility: visible;
}

div.sky > div.rotating-modal > div.rotating-modal-guts {
  position: absolute;/* cover the modal */
  text-align: center;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 50px 20px 20px;
  overflow: auto;  /* let it scroll */
}

div.sky > div.rotating-modal > button.close-button {
  position: absolute;
  z-index: 4;
  top: 5%;/* needs to look OK with or without scrollbar */
  right: 15px;
  border: 0;
  background: none;
  color: purple;
  padding: 5px 10px;
  font-size: 1.5rem;
}

.open-button {
  visibility: hidden;
  border: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgreen;
  color: red;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 21px;
  z-index: 10;
}

.open-button.closed {
  visibility: visible;
}


div.sky > div.troll-modal {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 30%;
  left: 50%;
  /*this is for centering if unkonw wisth/height*/
  transform: translate(-50%, -50%);
  /* Probably need media queries here */
  width: 600px;
  max-width: 100%;
  height: 200px;
  max-height: 100%;
  background: pink;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  z-index: 21;
}

div.sky > div.troll-modal > div.troll-modal-guts {
  /* cover the modal */
  position: absolute;
  text-align: center;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  /* spacing as needed */
  padding: 20px 50px 20px 20px;
  /* let it scroll */
  overflow: auto;
}
div.sky > div.troll-modal > button.troll-modal-button{
  position: absolute;
  z-index: 4;
  top: 5%;
  /* needs to look OK with or without scrollbar */
  right: 15px;
  border: 0;
  background: none;
  color: purple;
  padding: 5px 10px;
  font-size: 1rem;
}

/*sky text*/
.sky > h3.h3{
  margin-left: 190px;
  margin-right: -250px;
  margin-top: -150px;
  text-align: center;
  z-index: 45;
  visibility: hidden;
}

/* Bubble Text */
.bubble {
    position: relative;
/*     background: #57d4d0; */
  background: #d4cc57;
    /* color: #FFFFFF; */
    color: black;
    font-family: Arial;
    font-size: 30px;
    font-style: italic;
    line-height: 46px;
    box-shadow: 13px -15px 7px -1px #A3A3A3;
    text-align: center;
    font-weight: 700;
    width: 300px;
    /* height: 150px; */
    border-radius: 10px;
    /* padding: 0px; */
    margin-left: 150px;
    margin-top: -90px;

    visibility: hidden;
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 18px 17px 0 0;
    border-color: #d4cc57 transparent transparent transparent;
    bottom: -18px;
    left: 10%;
    margin-left: -8.5px;
  }

.asideR {
  grid-area: asideR;
  grid-area: 4 / 4 / 5 / 5;
  margin-top: 300px;
  margin-left: 300px;
  position: absolute;
}


  /* @media all and (max-width: 800px) {
   .stats {
     justify-content: space-around;
   }
 }
 @media all and (max-width: 600px) {
   .stats {
     flex-flow: column wrap;
     padding: 0;
   }
   .stats li:last-of-type a {
     border-bottom: none;
   }
 }  */
/* @media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
} */
