*{
    box-sizing: border-box;
    font-size: 30px;
 }

 html {
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

.grid-container{
  height: 100vh;
  margin: 5px;
  padding: 5px;
  display: grid;
  grid-template-areas:
  "header header back right-corner"
  "asideL sky sky asideR"
  "asideL main main asideR"
  "asideL path path asideR"
  ". . . footer";
  grid-template-rows: .5fr 2fr 2fr 2fr .5fr;
  grid-template-columns: 25% 1fr 1fr 25%;
}

.grid-item{
  border: 4px;
  padding: 20px;
}

.grid-container > div.back{
  grid-area: back;
  grid-area: 1 / 1 / 6 / 5;
  background:  url("../img/Game_Background_43.png") repeat-x;
  background-position: center center;
  background-position: 0px 0px;
  background-size: 95vw 98%;
  width: 6833px;
  width: 100%;
  height: auto;
  height: 100vh;
  animation: goRight 60s linear infinite;
  animation-play-state: paused;
}

@keyframes goRight{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}

/* Right Corner....What To Do Options */
.right-corner{
  grid-area: right-corner;
  /* padding-bottom: 155px; */
  max-height: 225px;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  text-align: center;
  padding-right: 5%;
  position: fixed;
  top: 0;
  right: 0;
  width: 27vw;
  visibility: hidden;
}
div.right-corner > aside.instructions > p{
  overflow-wrap: break-word;
  font-size: 1.5vw;
  font-weight: bold;
  width: fit-content;
  color: white;
  block-size: fit-content;
  margin: 0 auto;
}

/* Left Corner.... Spencer Stats*/
.header{
  grid-area: header;
  grid-area: 1 / 1 / 2 / 4;
  margin-bottom: 50px;
  }
.stats-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 30fr;
  grid-template-rows: 20% 15% 15% 15%;
  grid-template-areas:
    "stats stats stats stats stats day"
    "water  water-level  coconuts coconuts-level . ."
    "food   food-level   trolls   trolls-level   . ."
    "sanity sanity-level bamboo   bamboo-level   . .";
    /* background: salmon; */
  grid-gap: 2px 2px;
  box-shadow: 0 0 60px 20px rgba(0, 0, 0, 0.9);
  /* border: solid lightgreen; */
  margin-right: 65%;
  z-index: 20;
  font-weight: 500;
  width: fit-content;
  block-size: fit-content;
  color: white;
  visibility: hidden;
  /* background: deepskyblue; */
  width: 35vw;
}

.stats-container > div {
  padding: 0px 20px 10px 8px;
  font-size: 25px;
  justify-self: start;
  font-size: 1.5vw;
}

.stats-container > div.stats {
  grid-area: 1 / 1 / 2 / 5;
  font-weight: bold;
  /* font-style: italic; */
  text-decoration: underline;
  font-size: 1.5vw;
}

.stats-container > div.day {
 grid-area: 1 / 6 / 2 / 7;
 margin-left: -94px;
 border: solid green;
 font-weight: bold;
 background: #00FFFF;
 color: black;
 font-style: italic;
 width: 11vw;
 text-align: center;
}

.stats-container > div.water {
  grid-area: 2 / 1 / 3 / 2;
}
.stats-container > div.food {
  grid-area: 3 / 1 / 4 / 2;
}
.stats-container > div.sanity {
  grid-area: 4 / 1 / 5 / 2;
}
.stats-container > div.coconuts {
  grid-area: 2 / 3 / 3 / 4;
}
.stats-container > div.water-level {
  grid-area: 2 / 1 / 3 / 2;
  margin-left: 85px;
}
.stats-container > div.food-level {
  grid-area: 3 / 1 / 4 / 2;
  margin-left: 85px;
}
.stats-container > div.sanity-level {
  grid-area: 4 / 1 / 5 / 2;
  margin-left: 85px;
}
.stats-container > div.coconuts-level {
  grid-area: 2 / 4 / 3 / 5;
  margin-left: -23px;
}
.stats-container > div.trolls {
  grid-area: 3 / 3 / 4 / 5;
  margin-top: 1px;
  width: 185px;
}
.stats-container > div.trolls-level {
  grid-area: 3 / 3 / 4 / 5;
  margin-left: 150px;
}
@media screen and (min-width: 1500px) {
  .stats-container > div.trolls {
    width: 225px;
  }
  .stats-container > div.trolls-level {
      margin-left: 185px;
  }
}
@media screen and (max-width: 1000px) {
  .stats-container{
    width: 50vw;
  }
  .stats-container > div.trolls-level {
    margin-left: 100px;
  }
  .grid-container > .stats-container > div {
      font-size: 13px;
      margin-bottom: -5px;
      font-weight: bold;
  }
}


/* Sky Div */
.sky{
  grid-area: sky;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 5px;
}

.sky > div {
  grid-column-start: 1;
  grid-column-end: 3;
  border: solid red:
  padding: 8px;
}

/* Main Div */
.main{
  grid-area: main;
  grid-area: 1 / 1 / 6 / 5;
  z-index: 1;
  background-position: center center;
  background-position: 0px 0px;
  background-size: 100vw 100%;
  margin-top: -15%;
  padding-bottom: 40%;
  width: 5833px;
  height: auto;
}

  *{ margin: 0px; padding: 0px;}
  html, body{
    width: 100%
    height: 100%
    position:absolute;
    overflow: hidden;;
  }

/* Path Div */
.path{
  grid-area: path;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 5px;
}

.path > div {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 8px;
}

div.path{
  /* margin: -10px; */
  /* overflow-y: hidden; */
  padding-bottom: 60px;
  margin-left: -3px;
  margin-right: -2000px;
  z-index: 40;
}

div.path > div.walking{
   background: url("../img/css_sprites.png")
   no-repeat;
   z-index: 100;
   width: 180px;
   height: 357px;
   margin-top: 50px;
   margin-left: -85px;
   display: inline-block;
   animation: walk 1s steps(4) infinite,
   forward 4s linear infinite;
   animation-play-state: paused;
   visibility: hidden;
   margin-top: -900px;
   position: fixed;
   bottom: 7%;
   left: 30%;
}

@keyframes walk{
   0%{
   background-position: 0px;
   }
   100%{
   /* background-position: -20px; */
    background-position: -668px;
   }
}
/* #################################### */
/* Footer  */
.footer {
  grid-area: footer;
  grid-area: 5 / 4 / 6 / 5;
  border: solid red;
}

.footer > div.bugs{
  background: url("../img/Bugs.png") no-repeat;
  width: 400px;
  height: 250px;
  visibility: hidden;
  position: fixed;
  bottom: 10%;
  right: 35%;
}

.footer > div.dead{
  background: url("../img/SpensorDown.png") no-repeat;
  width: 400px;
  height: 130px;
  visibility: hidden;
  position: fixed;
  bottom: 7%;
  right: 35%;
}

.footer > div.coconut {
  z-index: 700;
  background: url("../img/coconut.png") no-repeat;
  padding: 100px;
  width: 220px;
  visibility: hidden;
  position: fixed;
  bottom: 7%;
  right: 29%;
}
/* Footer  Troll */
.footer > div.troll {
  background: url("../img/zombiesprite.png") no-repeat;
  z-index: 700;
  margin-right: 200px;
  width:168px;
  height: 270px;
  animation: walk1 3.8s steps(12) 1,
  forward1 4s linear 1;
  animation-play-state: paused;
  visibility: hidden;
  position: fixed;
  bottom: 7%;
  right: 20%;
  margin-right: 300px;
}
@keyframes walk1{
  0%{
  background-position: -1944px;
  }
  100%{
  /* background-position: -20px; */
   background-position: 0px;
  }
}
@keyframes forward1{
  0%{
  transform: translateX(1200px);
  }
  100%{
  transform: translateX(-400px);
  }
}

/* Bubble */
  .bubble2{
    border: solid pink;
    z-index: 60;
    /* position: relative; */
    position: absolute;
    background: #d4cc57;
    padding: 10px;
    color: black;
    font-family: Arial;
    font-size: 30px;
    font-style: italic;
    line-height: 46px;
    box-shadow: 13px -15px 7px -1px #A3A3A3;
    text-align: center;
    font-weight: 700;
    width: 400px;
    border-radius: 10px;
    margin-left: 775px;
    margin-top: -100px;
      z-index: 100;
    visibility: hidden;
}
.bubble2:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 18px 17px 0 0;
    border-color: #d4cc57 transparent transparent transparent;
    bottom: -18px;
    left: 10%;
    margin-left: -8.5px;
  }

/* Aside L  Fishy*/
.asideL {
  grid-area: asideL;
  z-index: 60;
}

div.asideL > div.fish {
  background: url("../img/fisch1.svg")
  no-repeat;
  padding-bottom: 80px;
  width: 150px;
  height: 150px;
  margin-left: 556px;
  margin-top: 400px;
  visibility: hidden;
}

/* Modal 1 */
div.modal{
  visibility: hidden;
  z-index: 50;
  width: 50vw;
  max-width: 400px;
  position: fixed;
  top: 45%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  background-color: #feddc0;
  border-radius: 4px;
  padding: 35px;
  box-shadow: 5px 2.5px 10px 0px rgba(0,0,0,0.3);
  text-align: center;
  margin-top: -120px;
}

div.modal.open{
    visibility: visible;
}

/* Modal2 (instructions */
.modal2 {
  visibility: hidden;
  position: fixed; /* Stay in place*/
  z-index: 50;
  width: fit-content;
  max-height: 80%;
  border-radius: 4px;
  padding: 35px;
  margin: 900px 25% auto;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

div.modal2 > .model2-content{
  background-color: #fefefe;
  border: 1px solid #888;
  font-size: 10px;
  font-style: oblique;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-height: 60%;
}

span {
  text-align: right;
  font-size: calc(20px + 1vw);
  margin: 0px 0px 8px 5px;
  z-index: 51;
}

#p {
  font-size: calc(8px + 1vw);
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  div.modal{
    margin-top: 1%;
  }
  .modal2 {
    width: 70vw;
    margin-left: 12%;
  }
}

#heading1{
  margin-top: -40px;
  font-size: calc(10px + 1vw);
  margin-right: 20px;
}
.trolls {
  margin-top: -20px;
  font-size: calc(10px + 1vw);
}

div.modal2 > div.model2-content > h3.trolls{
  padding-top: 30px;
  padding-left: 10px;
}

/* Buttons */
#water-button{
  visibility: hidden;
  /* width: 50px; */
  font-size: 15px;
  padding: 10px;
  margin: 25px 0 0 0;

}
#food-button{
  visibility: hidden;
  font-size: 15px;
  padding: 10px;
  margin: 15px 0 0 0;
}
@media screen and (max-width: 900px) {
  #water-button, #food-button{
      font-size: 9px;
  }
  .right-corner{
    width: 40vw;
  }
  div.right-corner > aside.instructions > p{
    font-size: 15px;
  }
}
#keep-searching-for-drink-button{
  font-size: 15px;
  padding: 10px;
  margin: 15px 10px 0 0;
}
#keep-searching-button{
  font-size: 15px;
  padding: 10px;
  margin: 15px 10px 0 0;
}
#return-to-camp-button{
  font-size: 15px;
  padding: 10px;
  margin: 15px 0 0 0;
}
#return-to-camp-button2{
  font-size: 15px;
  padding: 10px;
  margin: 15px 0 0 0;
}
#drink-button{
  font-size: 15px;
  padding: 10px;
  margin: 15px 10px 0 10px;
}
#save-for-later-button{
  font-size: 15px;
  padding: 10px;
  margin: 15px 0 0 0;
}

#restart-button{
  font-size: 15px;
  padding: 10px;
  margin: 15px 0 0 0;
  visibility: 'hidden';
  position: fixed;
  bottom: 30%;
  right: 45%;
  z-index: 200;
}

/* Rotating Modal */
div.sky > div.rotating-modal {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 30%;
  left: 50%;
  /*this is for centering if unkonw wisth/height*/
  transform: translate(-50%, -50%);
  /* Probably need media queries here */
  width: 450px;
  max-width: 100%;
  height: 200px;
  max-height: 100%;
  background: pink;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  z-index: 21;
}

div.sky > div.rotating-modal.closed {
  visibility: visible;
}

div.sky > div.rotating-modal > div.rotating-modal-guts {
  position: absolute;/* cover the modal */
  text-align: center;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 50px 20px 20px;
  overflow: auto;  /* let it scroll */
}

div.sky > div.rotating-modal > button.close-button {
  position: absolute;
  z-index: 4;
  top: 5%;/* needs to look OK with or without scrollbar */
  right: 15px;
  border: 0;
  background: none;
  color: purple;
  padding: 5px 10px;
  font-size: 1.5rem;
}

.open-button {
  visibility: hidden;
  border: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgreen;
  color: red;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 21px;
  z-index: 16;
}

.open-button.closed {
  visibility: visible;
}


div.sky > div.troll-modal {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 30%;
  left: 50%;
  /*this is for centering if unkonw wisth/height*/
  transform: translate(-50%, -50%);
  /* Probably need media queries here */
  width: 600px;
  max-width: 100%;
  height: 200px;
  max-height: 100%;
  background: pink;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  z-index: 21;
}

div.sky > div.troll-modal > div.troll-modal-guts {
  /* cover the modal */
  position: absolute;
  text-align: center;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 50px 20px 20px;
  overflow: auto; /* let it scroll */
}
div.sky > div.troll-modal > button.troll-modal-button{
  position: absolute;
  z-index: 4;
  top: 5%;
  /* needs to look OK with or without scrollbar */
  right: 15px;
  border: 0;
  background: none;
  color: purple;
  padding: 5px 10px;
  font-size: 1rem;
}

/*sky text*/
.sky > h3.h3{
  margin-left: 190px;
  margin-right: -250px;
  margin-top: -150px;
  text-align: center;
  z-index: 45;
  visibility: hidden;
}

/* Bubble Text */
.bubble {
    position: relative;
/*     background: #57d4d0; */
  background: #d4cc57;
    /* color: #FFFFFF; */
    color: black;
    font-family: Arial;
    font-size: 30px;
    font-style: italic;
    line-height: 46px;
    box-shadow: 13px -15px 7px -1px #A3A3A3;
    text-align: center;
    font-weight: 700;
    width: 300px;
    /* height: 150px; */
    border-radius: 10px;
    /* padding: 0px; */
    margin-left: 150px;
    margin-top: -90px;

    visibility: hidden;
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 18px 17px 0 0;
    border-color: #d4cc57 transparent transparent transparent;
    bottom: -18px;
    left: 10%;
    margin-left: -8.5px;
  }

.asideR {
  grid-area: asideR;
  grid-area: 4 / 4 / 5 / 5;
  margin-top: 300px;
  margin-left: 300px;
  position: absolute;
}
